[submodule "frontend(web)"]
	path = battleship-web
	url = https://github.com/julianboehne/battleship-web.git
[submodule "backend"]
	path = battleship-game
	url = https://github.com/julianboehne/battleship-game.git
